#img_recognize{
	width: 100%;
}
.info_recognize{
	width: 100%;
	display: flex;
	justify-content:space-around;
}

.form_send_recognize{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#id_img{
	display: none;
}