{% extends 'home/shablons/base.html' %}
{% load static %}
{% block title %}Chats{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/activity.css' %}">
	<h4 class="username">{{ user }}</h4>
{% endblock content_header %}

{% block content %}	
{% endblock content %}

{% block end_scripts %}
	<script>
		let activity_mess_ajax = "{% url 'activity_mess_ajax' %}"
	</script>
	<script src="{% static 'home/js/activity.js' %}"></script>
{% endblock end_scripts %}