{% extends 'home/shablons/base.html' %}
{% load static %}
{% load try_url %}
{% block title %}Chats{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/form_style.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/add.css' %}">

	<h4 class="username">{{ user }}</h4>
{% endblock content_header %}

{% block content %}	
	<div class="btns">
		<button onclick="what_add(this,'post')" class="btn_add start_white_bb">Post</button>
		<button onclick="what_add(this,'video')" class="btn_add">Video</button>
	</div>

	<div class="add_post">
		<form class="form" method='post' enctype="multipart/form-data">
			{% csrf_token %}
			<div class="input-container ic1">
				<textarea placeholder=" " class="input textarea_form" name="description" cols="40" rows="10" id="id_description"></textarea>
				
				<div class="cut"></div>
				<label for="id_description" class="placeholder">Description</label>
			</div>

			<div class="input-container ic2">
				<input onchange="inp_file_change(this)" class="file_inp_form" type="file" name="file" required="" id="id_file">
				<label class="input label_file_inp" for="id_file">
					<h3>File post</h3>
					<img id="file_post_file" src="{{ user.theme_all|try_url:'no_media_img' }}" alt="file"></img>
				</label>
			</div>

			<input class="submit" name='submit' value="Add post" type="submit">
			<span class="error">{{ error }}</span>
		</form>
	</div>
	<div class="add_video">
		<form class="form" method='post' enctype="multipart/form-data">
			{% csrf_token %}
			<div class="input-container ic1">
				<input placeholder=" " class="input" type="text" name="name" maxlength="100" required="" id="id_name">
				<div class="cut"></div>
				<label for="id_name" class="placeholder">Name</label>
			</div>

			<div class="input-container ic2">
				<textarea placeholder=" " class="input textarea_form" name="description" cols="40" rows="10" id="id_description"></textarea>
				<label for="id_name" class="placeholder">Description</label>
			</div>

			<div class="input-container ic2">
				<input onchange="file_set(this,'video_video')" class="file_inp_form" type="file" name="file" required="" id="id_video">
				<label class="input label_file_inp" for="id_video">
					<h3>Video</h3>
					<video id="video_video" alt="video"></video>
				</label>
			</div>

			<div class="input-container ic2">
				<input onchange="file_set(this,'prewiew_img')" class="file_inp_form" type="file" name="preview" accept="image/*" required="" id="id_preview">
				<label class="input label_file_inp" for="id_preview">
					<h3>File preview</h3>
					<img id="prewiew_img" src="{{ user.theme_all|try_url:'no_media_img' }}" alt="preview"></img>
				</label>
			</div>

			<input class="submit" name='submit' value="Add video" type="submit">

			<span class="error">{{ error }}</span>
		</form>
	</div>

{% endblock content %}

{% block end_scripts %}
	<script>
		let img_mus = "{{ user.theme_all|try_url:'music_img' }}"
	</script>
	<script src="{% static 'home/js/add.js' %}"></script>
{% endblock end_scripts %}