{% extends 'home/shablons/base.html' %}
{% load static %}
{% block title %}Chats{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/chats.css' %}">
	<h4 class="userregname">{{ user }}</h4>
	<input class='find_chat' type="text" placeholder="find">
{% endblock content_header %}

{% block content %}	
	<div class="chats">
		{% for ch in user.chats.all %}
			<a class="chat_link" href="{% url 'chat' ch.chat_id %}">
			{% for user_ch in ch.users.all %}
				{% if user_ch != user %}
					<div class="user_chat">
						<img class='user_img' src="{{ user_ch.img }}">
						<div class="name_end_mes">
							<h4>{{ user_ch }}</h4>
							<span id="{{ ch.chat_id }}" class="end_mes" >{{ ch.messages.all.last }} </span>
						</div>
						{% if not ch.messages.all.last.readeble %}
							<div class="point"></div>
						{% else %}
							<div class="point_none"></div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</a>
	</div>
	<script src="{% static 'home/js/chats.js' %}"></script>
{% endblock content %}
