{% extends 'home/shablons/base.html' %}
{% load static %}

{% block title %}Chat{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/chat.css' %}">
	<h4 class="username">{{ chat.chat_friend.user }}</h4>
	<div class="opt_mus">
		<img onclick="chat_options(this)" class='img_opt' src="{{ user.theme_all.options_img.url }}">
	</div>
{% endblock content_header %}

{% block content %}	
	<div class="messages"></div>

	{% if end_mes.readeble %}
		<span class='readeble'>Read</span>
	{% else %}
		<span class='readeble'>not read</span>
	{% endif %} 

	<span id="error"> {{ error }} </span>
	
	<div class="input_mes_send">
		<input onkeydown="inp_msg_user(this)" placeholder='message' id="msg_user" type="text">
		<div class="send_file">
			<button id="btn_send" onclick="btn_send()">Send</button>
			<img onclick="send_file_mes()" class="file_img" src="{{ user.theme_all.file_send_img.url }}">
		</div>
	</div>
	<div class="options"></div>
	<div class="file_mes_form"></div>

	<div class="emojis_select">
		<div class="emojis_tabs">
			<button class="emogi_tab_btn" onclick = "select_emoji_tab(this, 'emoji_tab_0')">1</button>
			<button class="emogi_tab_btn" onclick = "select_emoji_tab(this, 'emoji_tab_1')">2</button>
			<button class="emogi_tab_btn" onclick = "select_emoji_tab(this, 'emoji_tab_2')">3</button>
			<img src="{{ user.theme_all.close_img.url }}" class="close_emoji" onclick="close_emoji()">
		</div>
		<div id='emojis'></div>
	</div>

	<style>
		body{
			{% if chat.theme.background %}
				background-image: url("{{ chat.theme.background.url }}");
			{% endif %}

			background-size: cover;
			background-repeat: round;
			background-attachment: fixed;
		}
		.messages, .id_file{
			color: {{ chat.theme.color_mes }};
		}
	</style>
{% endblock content %}

{% block end_scripts %}
	<script>
		let user = "{{ user }}"
		let friend = "{{ chat.chat_friend.user }}"

		let chat = "{{ chat }}"
		let chat_id = "{{ chat.id }}"
		let chat_options_ajax = "{% url 'chat_options_ajax' %}"
		let color_mes_bg = "{{ chat.theme.color_mes_bg }}"
		let color_mes_bg_op = "{{ chat.theme.color_mes_bg_op }}"
		let chat_get_mess_ajax = "{% url 'chat_get_mess_ajax' %}"
		let send_file_mes_ajax = "{% url 'send_file_mes_ajax' %}"
		let user_music_theme = "{{ user.theme_all.music_img.url }}"
	</script>
	<script src="{% static 'home/js/chat.js' %}"></script>
	<script src="{% static 'home/js/style_chat.js' %}"></script>

{% endblock end_scripts %}
