{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chaats</title>
	<link rel="stylesheet" href="{% static 'home/css/chats.css' %}">
</head>
<body>
	<div class="chats">
		{% for ch in user.chats.all %}
			<div>
				<a href="{% url "chat" ch.chat_id %}">
					{% for user_ch in ch.users.all %}
						{% if user_ch != user %}
							<label>{{ user_ch }}</label>
						{% endif %}
					{% endfor %}
				</a>
			</div>
		{% endfor %}
	</div>
</body>
</html>