{% extends 'home/shablons/base.html' %}
{% load static %}

{% block title %}Friends{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/friends.css' %}">
	<input onkeyup="find_inp(this)" class='find_user' type="text" placeholder="find">
{% endblock content_header %}

{% block content %}
	<div class="friends"></div>
{% endblock content %}	

{% block end_scripts %}
	<script>
		let users_get_ajax = "{% url 'users_get_ajax' %}"
		let id_user = "{{ user.id }}"
		let user_find_ajax = "{% url 'user_find_ajax' %}"
	</script>
	<script src="{% static 'home/js/friends.js' %}"></script>
{% endblock end_scripts %}