{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel='icon' href='{% static 'home/images/logo.png' %}'>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ameneuro</title>
	<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>
<body>
	<header class="header-home">
		<div class="name_user_link">
			<h1 class="h_name">Ameneuro</h1>
			<a href="{% url 'user' user %}"><img class="link_user" src="{{ user.img.url }}"></a>
		</div>
		<div class="friends_and_user">
			{% for f in user.friends.all %}
				<a class="user_header" href="{% url 'user' f.username %}">
					<img class="img_user" src="{{ f.img.url }}">
					<h4 class="name_user">{{ f.username|truncatechars:7 }}</h4>
				</a>
			{% endfor %}
			{% for f in user.follow.all %}
				<a class="user_header" href="{% url 'user' f.username %}">
					<img class="img_user" src="{{ f.img.url }}">
					<h4 class="name_user">{{ f.username|truncatechars:7 }}</h4>
				</a>
			{% endfor %}
		</div>
	</header>
	<div class="line"></div>

	<div class="posts">
	</div>

	<div class="menu_home_btn">
		<div class="menu_home">
			<a class="link_menu" href="{% url 'chats' %}"><div id ="chats" class="red_point"><p>{{ chat_not_read_count }}</p></div><img class="img_main_link" src="{% static 'home/images/direct.png' %}"></a>

			<a class="link_menu" href="{% url 'user_find' %}"><img class="img_main_link" src="{% static 'home/images/find.png' %}"></a>

			<a class="link_menu" href="{% url 'friends' %}"><div id ="friends" class="red_point"><p>0</p></div><img class="img_main_link" src="{% static 'home/images/user.png' %}"></a>

			<a class="link_menu" href="{% url 'musics' %}"><div id ="musics" class="red_point"><p>0</p></div><img class="img_main_link" src="{{ user.theme_all.music_img }}"></a>
		</div>
		<img onclick="menu_show(this)" class="link_menu" src="{% static 'home/images/menu.png' %}">
		<div id ="menu_id" class="red_point"></div>
	</div>

	<div class="friends_share">
		<span class="close_sh" onclick="close_sh()">X</span>
		<div class="menu_post_share">
			<div class="post_share"></div>
			<div class="inputs_post_share">
				<input type="text" placeholder="message">
				<input type="text" placeholder="find user">
			</div>
		</div>
		{% for ch in user.chats.all %}
			<div class="f_share">
				{% for u in ch.users.all %}
					{% if u != user %}
						<h3 class="name_sh">{{ u|truncatechars:10 }}</h3>
						<button class="btn_sh" onclick="share_btn('{{ ch }}', '{{ u }}')">share</button>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	<script>
		let user = "{{ user }}"
		let username = "{{ user }}"
		let like_ajax = "{% url 'like_ajax' %}"
		let comment_ajax = "{% url 'comment_ajax' %}"
		let comment_like_ajax = "{% url 'comment_like_ajax' %}"
		let comment_user_ajax = "{% url 'comment_user_ajax' %}"
		let comment_reply_ajax = "{% url 'comment_reply_ajax' %}"
		let delete_post_ajax = "{% url 'delete_post_ajax' %}"
		let post_ajax = "{% url 'post_ajax' %}"
		let id_post = "{{ id }}"
		let play_img = "{% static 'home/images/play.png' %}"
		let pause_img = "{% static 'home/images/pause.png' %}"
	</script>
	<script src="{% static 'home/js/user_consumer.js' %}"></script>
	<script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'home/js/home.js' %}"></script>
	<script src="{% static 'home/js/posts.js' %}"></script>
	<script src='{% static "home/js/music_all.js" %}' ></script>
	{% include 'home/shablons/css_theme.html' %}
</body>
</html>
