{% extends 'home/shablons/base.html' %}
{% load static %}

{% block title %}Music{% endblock title %}

{% block content_header %}
{% endblock content_header %}

{% block content %}
	<link rel="stylesheet" href="{% static 'home/css/music_all.css' %}">
	{% for m in user.music.all %}
		<h4 class="name_mus">{{ m }}</h4>
		<audio src="{% url 'streaming_music' m.id %}" controls>sound</audio>
	{% endfor %}
	<br>
	<a class="add_mus" href="{% url "add_music" %}">Add music</a>
	<script src='{% static "home/js/music_all.js" %}' ></script>
{% endblock content %}