{% extends 'home/shablons/base.html' %}
{% load static %}
{% load try_url %}

{% block title %}Music{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/playlist.css' %}">
	<h1 class="ps_name">{{ playlist }}</h1>
{% endblock content_header %}

{% block content %}
	<div class="musics"></div>
	<h3 class="ps_autor">{{ playlist.autor }}</h3>
{% endblock content %}

{% block end_scripts %}
	<script>
		let playlist = "{{ playlist.id }}"
	</script>
	<script src='{% static "home/js/music_all.js" %}' ></script>
	<script src="{% static 'home/js/playlist.js' %}"></script>
	<style>
		body{
			background-image: url("{{ playlist|try_url:'img' }}");
			background-repeat: no-repeat;
			background-position: center;
		}
	</style>
{% endblock end_scripts %}