{% extends 'home/shablons/base.html' %}
{% load static %}

{% block title %}Post{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/post.css' %}">

{% endblock content_header %}

{% block content %}	
	<div class="posts"></div>
{% endblock content %}

{% block end_scripts %}
	<script>
		let post_id = "{{ id }}"
		let comment_ajax = "{% url 'comment_ajax' %}"
	</script>
	<script src="{% static 'home/js/posts.js' %}"></script>

{% endblock end_scripts %}