{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Post</title>
	<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

</head>
<body>
	<header class="back_header">
		<img onclick="window.history.back()" class="back_img" src="{% static 'home/images/back.png' %}" alt="">
	</header>
	<div class="posts">
		{% for p in posts %}
			<div class="post post_{{ p.id }}">
				<div class="header_post">
					<a class="header_post_user" href="">
						<img class="img_user_post" src="{{ p.user_pub.img.url }}" alt="">
						<h4 class="name_user_post">{{ p.user_pub }}</h4>
					</a>
					<img id="{{ p.id }}" onclick="options(this)" class="options_post_img" src="{% static 'home/images/options.png' %}" alt="">

					<div class="options_menu" id='opt_{{ p.id }}'>
						<button value="{% url 'post' p.id %}" onclick="copy_link(this)" class="link_options_menu" href="">Скопіювати</button>
						<a class="link_options_menu" href="">Поширити</a>
						<a class="link_options_menu_red" href="">Поскаржитись</a>
					</div>
				</div>
				{% if p.type_p.type_p == 'video' %}
					<video autoplay controls class="post_file" src="{{ p.file.url }}"c></video>
				{% else %}
					<img class="post_file" src="{{ p.file.url }}"c>
				{% endif %}
				<div class="menu_post">
					<img id={{ p.id }} onclick="like(this)" src="{% static 'home/images/like.png' %}" alt="">
					<span>{{ p.likes.all|length }}</span>
					
					<img id={{ p.id }} onclick="comments(this)" src="{% static 'home/images/comment.png' %}" alt="">

					<span>{{ p.comments.all|length }}</span>
				</div>
				<p class="post_desc">{{ p.description }}</p>

				<div class="comments"></div>
			</div>
			<div class="line"></div>
		{% endfor %}
	</div>
	<script>
		let like_ajax = "{% url 'like_ajax' %}"
		let comment_ajax = "{% url 'comment_ajax' %}"
		let comment_like_ajax = "{% url 'comment_like_ajax' %}"
		let comment_user_ajax = "{% url 'comment_user_ajax' %}"
		let comment_reply_ajax = "{% url 'comment_reply_ajax' %}"

	</script>
	<script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'home/js/home.js' %}"></script>
</body>
</html>