{% extends 'home/shablons/base.html' %}
{% load static %}
{% block title %}User{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/user.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock content_header %}
{% block content %}	
		<h3>Save posts</h3>
		<div class="posts_save"></div>

		<script>
			let saves_posts_ajax = '{% url "saves_posts_ajax" %}'
			let comment_ajax = "{% url 'comment_ajax' %}"
		</script>
		<script src="{% static 'home/js/save_post.js' %}"></script>
		<script src="{% static 'home/js/posts.js' %}"></script>
		<script src='{% static "home/js/music_all.js" %}' ></script>

{% endblock content %}
