{% extends 'home/shablons/base.html' %}
{% load static %}
{% block title %}Change{% endblock title %}

{% block content_header %}
	<h4 class="username">{{ user }}</h4>
{% endblock content_header %}

{% block content %}
	<link rel="stylesheet" href="{% static 'home/css/user_change.css' %}">
	<span>{{ error }}</span>
	
	<div class="changes_btn">
		<div>
			<div class="change_btn" onclick="change_btn(this)">
				<h2>User</h2>
			</div>
			
			<form class="form_change" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form_opt">
					{{ form_user.username }}
				</div>
				<div class="form_opt">
					{{ form_user.first_name }}
				</div>
				<div class="form_opt">
					{{ form_user.last_name }}
				</div>
				<div class="form_opt">
					{{ form_user.email }}
				</div>
				
				<span>{{ error }}</span>

				<div class="form_opt">
					<h3>img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="img" id="id_img">
						<label class="img_file" for="id_img">Image</label>
						<img class="img_user" src="{{ user.img }}">
					</div>
				</div>
				<div class="inputs">
					<input name='submit' class="submit" type="submit" value="Save changes">
					<input name='submit' class="exit" type="submit" value="Exit">
				</div>
			</form>
		</div>

		<div>
			<div class="change_btn" onclick="change_btn(this)">
				<h2>Theme</h2>
			</div>

			<form class="form_change" method="post" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="form_opt">
					{{ form_theme.name }}
				</div>
				<div class="form_opt">
					<h3>fon_color</h3>
					{{ form_theme.fon_color }}
				</div>
				<div class="form_opt">
					<h3>text_color</h3>
					{{ form_theme.text_color }}
				</div>
				<div class="form_opt">
					<h3>header_bg_color</h3>
					{{ form_theme.header_bg_color }}
				</div>
				<div class="form_opt">
					{{ form_theme.header_bg_opacity }}
				</div>
				
				<div class="form_opt">
					<h3>fon_img</h3>
					{% if user.theme_all.fon_img %}
						<div class="clear_check">
							<input onchange="select_file_name(this)" type="checkbox" name="fon_img-clear" id="fon_img-clear_id">
							<label for="fon_img-clear_id">Clear</label>
						</div>
					{% endif %}
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="fon_img" accept="image/*" id="id_fon_img">
						<label class="img_file" for="id_fon_img">Image</label>
						{% if user.theme_all.fon_img %}
						    <img class="img_user" src="{{ user.theme_all.fon_img }}">
						{% endif %}
						
					</div>
				</div>

				<div class="form_opt">
					<h3>comment_img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="comment_img" accept="image/*" id="id_comment_img">
						<label class="img_file" for="id_comment_img">Image</label>
						<img class="img_user" src="{{ user.theme_all.comment_img }}">
					</div>
				</div>

				<div class="form_opt">
					<h3>like_img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="like_img" accept="image/*" id="id_like_img">
						<label class="img_file" for="id_like_img">Image</label>
						<img class="img_user" src="{{ user.theme_all.like_img }}">
					</div>
				</div>

				<div class="form_opt">
					<h3>save_img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="save_img" accept="image/*" id="id_save_img">
						<label class="img_file" for="id_save_img">Image</label>
						<img class="img_user" src="{{ user.theme_all.save_img }}">
					</div>
				</div>

				<div class="form_opt">
					<h3>back_img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="back_img" accept="image/*" id="id_back_img">
						<label class="img_file" for="id_back_img">Image</label>
						<img class="img_user" src="{{ user.theme_all.back_img }}">
					</div>
				</div>

				<div class="form_opt">
					<h3>music_img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="music_img" accept="image/*" id="id_music_img">
						<label class="img_file" for="id_music_img">Image</label>
						<img class="img_user" src="{{ user.theme_all.music_img }}">
					</div>
				</div>

				<div class="form_opt">
					<h3>add_img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="add_img" accept="image/*" id="id_add_img">
						<label class="img_file" for="id_add_img">Image</label>
						<img class="img_user" src="{{ user.theme_all.add_img }}">
					</div>
				</div>

				<div class="def_themes">
					<h2>Default themes</h2>
					{% for i in default_themes %}
						{% if user.theme_all == i %}
							   <div class="def_th_user">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.comment_img }}">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.back_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.save_img }}">
								</div>
							</div>
						{% else %}
							<div class="def_th">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.comment_img }}">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.back_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.save_img }}">		
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="def_themes">
					<h2>User themes</h2>
					{% for i in user.themes_all.all %}
						{% if user.theme_all == i %}
							   <div class="def_th_user">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.comment_img }}">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.back_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.save_img }}">
								</div>
								<div class="end_element"></div>
							</div>
						{% else %}
							<div class="def_th">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.comment_img }}">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.back_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.save_img }}">
								</div>
								<button class="end_element" type='button' onclick="delete_theme(this,'{{ i.id }}')">Delete</button>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="inputs">
					<input name='submit' class="submit" type="submit" value="Save changes theme">
					<input name='submit' class="new_theme" type="submit" value="Save new theme">	
				</div>
			</form>
		</div>
	</div>
	<script src="{% static 'home/js/user_change.js' %}" ></script>
{% endblock content %}
