{% extends 'home/shablons/base.html' %}
{% load static %}
{% block title %}User{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/user.css' %}">
	{% if user_reg == user %}
		<a href="{% url 'user_change' %}">
			<img class="set_img" src="{% static 'home/images/settings.png' %}" alt="">
		</a>
	{% endif %}
{% endblock content_header %}
{% block content %}	
	<header class="header_user">
		<img class="img_user" src="{{ user.img.url }}" alt="">
		<div class="info_user">
			<h3>{{ user.friends.all|length }}<br>Friends</h3>
			<h3>{{ posts|length }}<br>Posts</h3>
			<h3>{{ user.followers.all|length }}<br>Followers</h3>
		</div>
	</header>

	<div class="menu_user">
		<b class="user_name">{{ user.username|truncatechars:11 }}</b>
		{% if user_reg == user %}
			<a class="add_post" href="{% url 'add_post' %}"><img class="add_post_img" src="{% static 'home/images/add.png' %}" alt=""></a>
		{% elif not user in user_reg.friends.all and not user in user_reg.follow.all %}
		    <button value="{{ user.id }}" class="btn_follow" onclick="follow(this)">Follow</button>
		{% else %}
			<p class="follow_none">follow</p>
		{% endif %}
		{% if user_reg == user %}
			<div class="saves_posts">
				<a class="save_post_link" href="{% url 'saves_posts' %}"><h3>Save posts</h3></a>
			</div>
		{% endif %}
		<div onclick="music_show()" class='musics_user'>
			<h3>Musics</h3>
			<div class="musics"></div>
		</div>
	</div>

	<div class="posts">
		{% for p in posts %}
			<div class="post">
				<a href="{% url 'post' p.id %}">
					{% if p.type_p.type_f == "audio" %}
						<h3 class="name_audio">{{ p.description|truncatechars:10 }}</h3>
						<img class="post_file" src="{{ user.theme_all.music_img.url }}">
					{% else %}
						<{{ p.type_p.type_f }} class="post_file" src="{{ p.file.url }}"></{{ p.type_p.type_f }}>
					{% endif %}

				</a>
			</div>
		{% endfor %}
	</div>
	<script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
	<script>
		let follow_ajax = "{% url "follow_ajax" %}"
		let play_img = "{% static 'home/images/play.png' %}"
		let pause_img = "{% static 'home/images/pause.png' %}"
		let musics_all_ajax = "{% url 'musics_all_ajax' %}"
		let id_user = "{{ user.id }}"
	</script>
	<script src='{% static "home/js/user.js" %}' ></script>
	<script src='{% static "home/js/music_all.js" %}' ></script>
{% endblock content %}
