{% extends 'home/shablons/base.html' %}
{% load static %}

{% block title %}User find{% endblock title %}
{% block content_header %}
	<link rel="stylesheet" href="{% static 'home/css/user_find.css' %}">
	<h4 class="userregname">{{ user }}</h4>
	<input onkeydown="find_inp(this)" class='find_user' type="text" placeholder="Find user">
{% endblock content_header %}

{% block content %}	
	<div class="users"></div>
	<script>
		let want_add_friend_ajax = "{% url 'want_add_friend_ajax' %}"
		let follow_ajax = "{% url 'follow_ajax' %}"
		let user_find_ajax = "{% url 'user_find_ajax' %}"
		let users_get_ajax = "{% url 'users_get_ajax' %}"
	</script>
	<script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'home/js/user_friend.js' %}"></script>
{% endblock content %}
