{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User</title>
	<link rel="stylesheet" href="{% static 'home/css/user.css' %}">
</head>
<body>
	<header class="header_user">
		<div>
			<img class="img_user" src="{{ user.img.url }}" alt="">
			<p class="user_name">{{ user.username|truncatechars:11 }}</p>
		</div>
		<div class="info_user">
			<h3>{{ user.friends.all|length }}<br>Friends</h3>
			<h3>{{ posts|length }}<br>Posts</h3>
		</div>
	</header>

	<div class="menu_user">
		<button>Add post</button>
	</div>

	<div class="posts">
		{% for p in posts %}
			<div class="post">
				<a href="{% url 'post' p.id %}">
				{% if p.type_p == 'video' %}
					<video autoplay class="post_file" src="{{ p.file.url }}"c></video>
				{% else %}
					<img class="post_file" src="{{ p.file.url }}"c>
				{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
</body>
</html>