{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User_find</title>
	<link rel="stylesheet" href="{% static 'home/css/user_find.css' %}">
</head>
<body>
	<header class="back_header">
		<img onclick="window.history.back()" class="back_img" src="{% static 'home/images/back.png' %}" alt="">
		<h4 class="userregname">{{ user }}</h4>
		<input class='find_chat' type="text" placeholder="find">
	</header>
	<div class="users">
		{% for u in users %}
			{% if u != user %}
				<div class="user">
					<div class="img_name">
						<img class="img_f" src={{ u.img.url }}>
						<h4> {{ u.username }}</h4>
					</div>
					{% if u not in user.friends.all %}
						<div>
							<button class="btn_follow" >Follow</button>  
							<button class="btn_friend_add" value="{{ u.id }}" onclick="want_add_friend(this)">Add friend</button>
						</div>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<script>
		let want_add_friend_ajax = "{% url "want_add_friend_ajax" %}"
	</script>
	<script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'home/js/user_friend.js' %}"></script>
</body>
</html>