{% extends 'home/shablons/base.html' %}
{% load static %}
{% load url_from_options %}
{% block title %}Change{% endblock title %}

{% block content_header %}
	<h3 class="username">{{ user }}</h3>
{% endblock content_header %}

{% block content %}
	<link rel="stylesheet" href="{% static 'home/css/user_change.css' %}">
	<span>{{ error }}</span>
	
	<div class="changes_btn">
		<div>
			<div class="change_btn" onclick="change_btn(this)">
				<h2>User</h2>
			</div>
			
			<form class="form_change" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form_opt">
					{{ form_user.username }}
				</div>
				<div class="form_opt">
					{{ form_user.first_name }}
				</div>
				<div class="form_opt">
					{{ form_user.last_name }}
				</div>
				<div class="form_opt">
					{{ form_user.email }}
				</div>
				
				<span>{{ error }}</span>

				<div class="form_opt">
					<h3>img</h3>
					<div class="file_img">
						<input onchange="select_file_name(this)" type="file" name="img" id="id_img">
						<label class="img_file" for="id_img">Image</label>
						<img class="img_user" src="{{ user.img }}">
					</div>
				</div>
				<div class="inputs">
					<input name='submit' class="submit" type="submit" value="Save changes">
					<input name='submit' class="exit" type="submit" value="Exit">
				</div>
			</form>
		</div>

		<div>
			<div class="change_btn" onclick="change_btn(this)">
				<h2>Theme</h2>
			</div>

			<form class="form_change" method="post" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="form_opt">
					{{ form_theme.name }}
				</div>
				<div class="form_opt">
					<h3>fon_color</h3>
					{{ form_theme.fon_color }}
				</div>
				<div class="form_opt">
					<h3>text_color</h3>
					{{ form_theme.text_color }}
				</div>
				<div class="form_opt">
					<h3>header_bg_color</h3>
					{{ form_theme.header_bg_color }}
				</div>
				<div class="form_opt">
					{{ form_theme.header_bg_opacity }}
				</div>
				
				<div class="form_opt">
					<h3>fon_img</h3>
					{% if user.theme_all.fon_img %}
						<div class="clear_check">
							<input onchange="select_file_name(this)" type="checkbox" name="fon_img-clear" id="fon_img-clear_id">
							<label for="fon_img-clear_id">Clear</label>
						</div>
					{% endif %}
					<div class="file_img">
						<input class="inp_opt_img"  onchange="select_file_name(this)" type="file" name="fon_img" accept="image/*" id="id_fon_img">
						<label class="img_file" for="id_fon_img">Image</label>
						{% if user.theme_all.fon_img %}
						    <img class="img_user" src="{{ user.theme_all.fon_img }}">
						{% endif %}
						
					</div>
				</div>

				{% for opt_th in fields %}
					{% if opt_th != "fon_img" %}
						<div class="form_opt">
							<h3>{{ opt_th }}</h3>
							<div class="file_img">
								<input class="inp_opt_img" onchange="select_file_name(this)" type="file" name="{{ opt_th }}" accept="image/*" id="id_{{ opt_th }}">
								<label class="img_file" for="id_{{ opt_th }}">Image</label>
								<img class="img_user" src="{{ user.theme_all|url_from_options:opt_th }}">
							</div>
						</div>
					{% endif %}
				{% endfor %}

				<div class="def_themes">
					<h2>Default themes</h2>
					{% for i in default_themes %}
						{% if user.theme_all == i %}
							<script>
								let select_theme_now = "{{ i.id }}"
							</script>
							<div class="def_th_user" id="{{ i.id }}">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.friends_img }}">
									<img class="img_theme" src="{{ i.settings_img }}">
									<img class="img_theme" src="{{ i.find_img }}">
								</div>
							</div>
						{% else %}
							<div class="def_th" id="{{ i.id }}">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.friends_img }}">
									<img class="img_theme" src="{{ i.settings_img }}">
									<img class="img_theme" src="{{ i.find_img }}">		
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="def_themes">
					<h2>User themes</h2>
					{% for i in user.themes_all.all %}
						{% if user.theme_all == i %}
							<script>
								let select_theme_now = "{{ i.id }}"
							</script>
							<div class="th_user" id="{{ i.id }}">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.friends_img }}">
									<img class="img_theme" src="{{ i.settings_img }}">
									<img class="img_theme" src="{{ i.find_img }}">
								</div>
								<div class="end_element"></div>
							</div>
						{% else %}
							<div class="th" id="{{ i.id }}">
								<h3 onclick="select_theme(this,'{{ i.id }}')" class="name_theme">{{ i|truncatechars:7 }}</h3>
								<div class="imgs_theme_all">
									<img class="img_theme" src="{{ i.like_img }}">
									<img class="img_theme" src="{{ i.music_img }}">
									<img class="img_theme" src="{{ i.friends_img }}">
									<img class="img_theme" src="{{ i.settings_img }}">
									<img class="img_theme" src="{{ i.find_img }}">
								</div>
								<button class="end_element" type='button' onclick="delete_theme(this)">Delete</button>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="inputs">
					<input name='submit' class="submit" type="submit" value="Save changes theme">
					<input name='submit' class="new_theme" type="submit" value="Save new theme">	
				</div>
			</form>
		</div>
	</div>
{% endblock content %}

{% block end_scripts %}
	<script src="{% static 'home/js/user_change.js' %}" ></script>
{% endblock end_scripts %}