.user_img{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
}

.chat_link{
	text-decoration: none;
}

.user_chat{
	display: flex;
	align-items: center;
	margin-top: 2%;
	justify-content: space-between;
}

.name_end_mes{
	position: relative;
	width: 80%;
}

.end_mes{
	position: relative;
	color: gray;
}

.find_chat{
	background: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius:5px;
	outline: none;
	padding: 5px;
	position: relative;
	right: 5%;
}

.point{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: relative;
	right: 5%;
}
.point_none{
	width: 10px;
}

.point_in{
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: green;
	position: absolute;
	left: 30px;
	margin-top: -15px;
}