.user_img{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.chat_link{
	text-decoration: none;
	color: black;
}

.user_chat{
	display: flex;
	align-items: center;
	margin-top: 2%;
	justify-content: space-between;
}

.name_end_mes{
	position: relative;
	width: 80%;
}

.end_mes{
	position: relative;
	color: gray;
}

.userregname{
	color: white;
}

.find_chat{
	width: 8em;
	border-radius: 10px;
	padding: 5px;
}

main{
	margin-top: 11%;
}

.point{
	background: black;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: relative;
	right: 5%;
}
.point_none{
	width: 10px;
}
