.back_img{
	height: 100%;
}

.find_user{
	background: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius:5px;
	outline: none;
	padding: 5px;
	position: relative;
	right: 5%;
}

.what_find{
	position: fixed;
	top: 6.5%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.find_btn{
	width: 100%;
	border: none;
	background: none;
	border-bottom: 3px solid black;
	font-size: 1.1em;
}

.users, .musics, .videos{
	margin-top: 18%;
}