.img_f{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.img_name{
	display: flex;
	align-items: center;
	min-width: 50%;
}

.img_name > h4{
	position: relative;
	left: 10px;
}

.u_f{
	display: flex;
	width: 100%;
	justify-content: space-between;
	text-decoration: none;
	margin-top: 1%;
}

.del_friend_btn{
	color: red;
	font-size: 1.1em;
	background: none;
	border: none;
	position: relative;
	right: 10%;
}

.user{
	display: flex;
	width: 100%;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.1);
	margin-top: 1%;
	padding: 5px;
}

.find_user{
	background: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius:5px;
	outline: none;
	padding: 5px;
	position: relative;
	right: 5%;
}

.btn_friend_add, .write_btn, .btn_friend_no_add, .btn_delete_friend{
	border: none;
	background:rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	font-size: 1.1em;
	padding: 2px 15px;
	height: 1.7em;
	position: relative;
	right: 2%;
}


.link_user{
	text-decoration: none;
	position: relative;
	left: 10px;
}