*{
	margin: 0;
	padding: 0;
}

.img_f{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.img_name{
	display: flex;
	align-items: center;
}

.img_name > h4{
	position: relative;
	left: 10px;
}

.u_f{
	display: flex;
	width: 100%;
	justify-content: space-between;
	text-decoration: none;
	color: black;
}

main{
	margin-top: 11%;
}