*{
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
}

body{
	overflow-x: hidden;
	position: relative;
	right: 0;
	margin: 0 auto;
}

.h_name{
	font-style: italic;
}

.header-home{
	height: 8em;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}

.name_user_link{
	display: flex;
	justify-content: space-between;
	height: 2em;
}

.link_user{
	height: 40px;
	width: 40px;
	position: relative;
	right: 10px;
	top: 5px;
	border-radius: 50%;
	object-fit: cover;
}

.img_user{
	border-radius: 50%;
	height: 4em;
	width: 4em;
	/*height: 70%;*/
}

.menu_home{
	position: fixed;
	right: 5%;
	top: 40%;
	display: flex;
	flex-direction: column;
	z-index: 4;
}

.link_menu{
	margin-top: 15%;
	background: white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 5px;
}

.link_menu:hover{
	opacity: 0.8;
}

.friends_and_user{
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.user_header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 1%;
	text-decoration: none;
	color: gray;
}

.posts{
	width: 100%;
	margin-left: auto;
	margin-right:auto ;
}

.menu_post{
	display: flex;
	height: 2.5em;
}

.post_file{
	width: 100%;
}

.post_desc{
	position: relative;
	left: 10%;
}

.header_post{
	display: flex;
	justify-content: space-between;
	height: 2em;
}

.header_post_user{
	display: flex;
	text-decoration: none;
}

.img_user_post{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	object-fit:cover;
}

.name_user_post{
	position: relative;
	left: 10%;
}

.options_post_img{
	height: 50%;
}

.img_main_link{
	height: 100%;
}
.line{
	width: 100%;
	background-color: gray;
	height: 1px;
	margin-bottom: 5%;
}

::-webkit-scrollbar {
  display: none;
}

.comments{
	position: relative;
	display: none;
	overflow-y: auto;
	max-height: 30em;
}

.inp_comment{
	outline: none;
	border: none;
	background: none;
	/*color: gray;*/
	font-size: 1.1em;
}

.inp_sub_com{
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: sticky;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 2px;
}

.com_btn{
	border: none;
	background: none;
	color: blue;
	font-size: 1.1em;
}

.comment{
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 1%;
}

.img_user_comment{
	height: 2em;
	width: 2em;
	border-radius: 50%;
	object-fit: cover;
}

.user_name_comment{
	font-weight: bold;
}

.user_name_comment, .comment_text{
	position: relative;
	bottom: 0.5em;
}

.comment_menu{
	display: flex;
	position:relative;
	justify-content: space-around;
	color: gray;
}

.img_like_comment{
	height: 1.2em;
}

.reply{
	border: none;
	background: none;
	color: gray;
}

.options_menu{
	position: absolute;
	right: 5%;
	display: none;
	flex-direction: column;
	background-color: black;
	border: 1px solid gray ;
	border-radius: 5px;
	z-index: 2;
	padding: 4px;
}

.link_options_menu, .link_options_menu_red{
	text-decoration: none;
	padding: 1px;
	font-size: 1.2em;
	color: white;
	border: none;
	background: none;
}

.link_options_menu_red{
	color: red;
}

.back_header{
	background: rgba(0, 0, 0, 0.85);
	height: 2em;
	padding: 5px;
	margin-bottom: 2%;
}

.back_img{
	height: 100%;
}

main{
	margin-top: 11%;
}

.audio-player {
  width: 90%;
  position: relative;
	right: 0;
  margin: 0 auto;
}

.friens_spread{
	position: fixed;
	bottom: 0;
	display: none;
	color: white;
	width: 80%;
	left: 10%;
	padding: 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 20px 20px 0 0 ;
}

.f_spread{
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
}

.name_spr{
	width: 2em;
}

.close_spr{
	position: absolute;
	right: 10%;
}

.btn_spr{
	background: black;
	padding: 5px;
	border-radius: 5px;
	color: white;
	border: none;
}