*{
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
}

body{
	overflow-x: hidden;
	position: relative;
	right: 0;
	margin: 0 auto;
}

.h_name{
	font-style: italic;
}

.header-home{
	height: 8em;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}

.name_user_btns{
	height: 40px;
	padding: 2px;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 4;
}

.link_user{
	position: relative;
	right: 4px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	background: rgba(255, 255, 255, 0.1);
	z-index: 5;
}

.img_user{
	border-radius: 50%;
	height: 4em;
	width: 4em;
	background-color: rgba(255, 255, 255, 0.1);
}

.menu_home{
	display: none;
	position: fixed;
	left: 0;
}

.menu_home_btn{
	position: fixed;
	bottom: 5px;
	right: 5px;
	display: flex;
}

.link_menu{
	margin-right: 10%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 5px;
}

.link_menu:hover{
	opacity: 0.8;
}

.friends_and_user{
	position: relative;
	top: 35%;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.user_header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 1%;
	text-decoration: none;
	color: gray;
}

.posts, .videos{
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right:auto ;
}

.img_main_link{
	height: 100%;
}
.line{
	width: 100%;
	background-color: gray;
	height: 1px;
	margin-bottom: 5%;
}

::-webkit-scrollbar {
  display: none;
}

main{
	margin-top: 11%;
}

.audio-player {
  width: 90%;
  position: relative;
	right: 0;
  margin: 0 auto;
}

.red_point{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	border: 2px solid black;
  position: absolute;
  margin-left: 15%;
  margin-top: -3%;
  color: black;
  text-align: center;
  display: none;
}
.red_point p{
	font-size: 0.8em;
	position: relative;
	bottom: 17%;
}
#menu_id{
  margin-left: 60%;	
}

.h2_delete{
	color: white;
	position: relative;
	right: 0;
	bottom:20px;
	margin: 0 auto;
}

.btn_wath_now{
	border: none;
	background: none;
	font-size: 1.3em;
	opacity: 1;
}

.div_btns_wath_now{
	position: relative;
	top: 20%;
}

.end_scroll_img{
	width: 100%;
}

.no_more_media{
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 1024px) {
	.posts_videos{
		width: 50%;
	}
}