main{
	margin-top: 16%;
}

.add_mus, .add_playlist{
	background: gray;
	text-decoration: none;
	color: black;
	font-size: 1.3em;
	padding: 3px;
	border-radius: 10px;
}

.add_playlist{
	display: none;
}

.music_share{
	position: fixed;
    bottom: 0;
    display: none;
    color: white;
    width: 80%;
    left: 10%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px 20px 0 0;
    overflow-y: auto;
    max-height: 20em;
}

.user_share{
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
}

.btn_sh{
	background: black;
	padding: 5px;
	border-radius: 5px;
	color: white;
	border: none;
}

.name_sh{
	width: 2em;
}

.red_point{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	border: 2px solid black;
	position: absolute;
	margin-left: 60%;
	margin-top: -2.5em;
}

.menu_mus{
	display: flex;
	justify-content: space-between;
}
.menu_mus h2{
	text-align: center;
	border-bottom: 2px solid black;
	width: 100%;
}

.menu_mus h2:nth-child(1){
	border-bottom: 2px solid white;
}

.music_all, .playlists{
	margin-top: 1%;
}