.h2_header{

}

.btn{
	text-align: center;
	border: none;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-size: 1.5em;
	padding: 10px;
	margin: 0 auto;
	display: block;
}

a{
	text-decoration: none;
}

#id_email,#id_new_password1,#id_new_password2{
	margin: 1% auto;
	display: block;
	font-size: 1.1em;
	padding: 3px;
	border-radius: 5px;
}