.playlist{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);	
}

.img_ps{
	position: relative;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.link_name_ps{
	text-decoration: none;
}

.ps_link_user{
	text-decoration: none;
}

.play_in_all_ps, .p_s_img{
  margin-right: 3px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.ps_menu{
	display: flex;
	justify-content: space-between;
}

.ps_prew{
	display: flex;
	width: 50%;
}

.autor_name{
	margin-left: 2%;
}

.ch_ps{
	margin-left:65%;
}

.menu_ps{
	display: flex;
	justify-content: space-around;
}