body{
}
.img_user{
	border-radius: 50%;
	height: 100px;
}
.header_user{
	display: flex;
}
.posts{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-left: auto;
	margin-right:auto;
}
.post_file{
	height: 7em;
	width: 7em;
   	object-fit:cover;
}

.info_user{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.user_name{
	width: 100%;
}

.menu_user{
	position: relative;
	left: 70%;
	bottom: 2.5em;
}