{% load static %}
{% load try_url %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel='icon' href='{% static 'home/images/logo.png' %}'>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'home/css/shablons/base.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/post.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/all_music.css' %}">
	
	<title>{% block title %}{% endblock title %}</title>
	{% include 'home/shablons/css_theme.html' %}
</head>
<body>
	<header class="back_header">
		<img onclick="window.history.back()" class="back_img" src="{{ user.theme_all|try_url:'back_img' }}">
		{% block content_header %}
		{% endblock content_header %}
	</header>
	<main>
		{% block content %}
		{% endblock content %}

		{% block start_scripts %}
		{% endblock start_scripts %}
		
		<script>
			{% if user_reg %}
				let username = "{{ user_reg }}"
			{% else %}
				let username = "{{ user }}"
			{% endif %}

			let play_img = "{{ user.theme_all|try_url:'play_img' }}"
			let pause_img = "{{ user.theme_all|try_url:'pause_img' }}"
			let post_ajax = "{% url 'post_ajax' %}"
			let musics_all_ajax = "{% url 'musics_all_ajax' %}"
			let share_ch_ajax = "{% url 'share_ch_ajax' %}"
			let img_left = "{{ user.theme_all|try_url:'music_left_img' }}"
			let img_right = "{{ user.theme_all|try_url:'music_right_img' }}"

		</script>
		<script src="{% static 'home/js/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'home/js/user_consumer.js' %}"></script>
		<script src='{% static "home/js/music_all.js" %}'></script>
		{% block end_scripts %}
		{% endblock end_scripts %}
	</main>
</body>
