<style>
	body{
		background-color: {{ user.theme_all.fon_color }};
		background-image: url("{{ user.theme_all.fon_img }}");
		background-size: 100%;
		background-repeat: repeat-y;
		background-attachment: fixed;
		color: {{ user.theme_all.text_color }};
	}
	.name_user_post, .user_header, .chat_link, .u_f, .write_btn, .add_mus, .inp_comment, .save_post_link, .find_btn, .img_name, .link_name_ps, .ps_link_user, .btn_wath_now, .what_show_btn, .no_more_media, .username, .add_mus, .add_playlist, .ch_ps, #id_name, .btn_menu_player, .btn_friend_add, .opt, .name_theme, .theme, .form_save,{
		color: {{ user.theme_all.text_color }};
	}
	.back_header, .link_menu, .name_user_btns{
		background-color: {{ user.theme_all.header_bg_color }};
	    opacity:  {{ user.theme_all.header_bg_opacity }};
	}
	.point{
		background: {{ user.theme_all.text_color }};
	}
</style>