{% for ch in chats %}
	<a class="chat_link" href="{% url 'chat' ch.chat_id %}">
	<div class="user_chat">
		<div>
			<img class='user_img' src="{{ ch.chat_friend.user.img.url }}">
			<div class="point_in"></div>
		</div>

		<div class="name_end_mes">
			<h4 class="user_ch">{{ ch.chat_friend.user }}</h4>
			<span id="{{ ch.chat_id }}" class="end_mes" >{{ ch.messages.all.last }} </span>
		</div>
		{% if not ch.messages.all.last.readeble and ch.messages.all.last == "None" %}
			<div class="point"></div>
		{% else %}
			<div class="point_none"></div>
		{% endif %}
	</div>
	</a>
{% endfor %}