{% for c in comments %}
	{% if c.parent %}
		<div class="parent_com">
			<p class="comment_text">{{ c.parent }}</p>
			<div class="parent_user">
				<img class="img_user_comment" src="{{ c.parent.user.img }}">
				<span class="user_name_comment">{{ c.parent.user |truncatechars:5 }}</span>
			</div>
		</div>
	{% endif %}
	<div class="comment com_{{ c.id }} {% if c.parent %} have_parent {% endif %}">
		<img class="img_user_comment" src="{{ c.user.img.url }}">
		<span class="user_name_comment">{{ c.user }}</span>
		<span class="comment_text"> {{ c }}</span>

		<div class="comment_menu">
			<time>{{ c.date }}</time>
			<div>
				{% if user in c.likes.all %}
					<img id={{ c.id }} class='img_like_comment my_like' src="{{ user.theme_all.like_img.url }}" onclick="not_like_comment(this)">
				{% else %}			    
					<img id={{ c.id }} onclick="like_comment(this)" class='img_like_comment' src="{{ user.theme_all.like_img.url }}">
				{% endif %}

				<span>{{ c.likes.all.count }}</span>
			</div>
			<button value="{{ post_id }}" id="{{ c.id }}" onclick="select_reply(this,'{{ c.user }}')" class="reply">reply</button>
		</div>
	</div>
{% endfor %}
