{% load split_mess %}

{% for m in mess %}
	{% if m.parent %}
		<div>
			{% if m.user == user %}
	    		<div class="my_msgs parent_my_msg">
	    			<div class="my_vertical_line"></div>
	    	{% else %}
	    		<div class="other_msgs parent_other_msg">
	    			<div class="other_vertical_line"></div>
	    	{% endif %}
	    		<p class="mes">{{ m.parent }}</p>
	    	</div>
	    </div>
	{% endif %}

	{% if m.type_m.type_m == 'msg' %}
		{% if m.user == user %}
			<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
				<div class="my_msgs">
					<p class="mes">{{ m }}</p>
					<time class='time'>{{ m.date|date:"h:m" }}</time>
				</div>
			</div>
		{% else %}
			<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
				<div class="other_msgs">
					<p class="mes">{{ m }}</p>
					<time class='time'>{{ m.date|date:"h:m" }}</time>
				</div>
			</div>
		{% endif %}
	{% elif m.type_m.type_m == 'new_theme' %}
		<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
			<div class="new_theme">
				<p class="mes">{{ m }}</p>
			</div>
		</div>
	{% elif m.type_m.type_m == 'file' %}
		{% if m.type_file.type_f == "audio" %}
		    {% if m.user == user %}
				<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
					<div class="my_msgs">
						<div class="audio-player">
							<h4 class="name_mus">{{ m }}</h4>
							<audio class="audio_ap" id="audio_{{ m.id }}" src="{% url 'stream_mess' m.id %}"></audio>
							<div class="controls">
								<button value="{{ m.id }}" onclick="toggleAudio_mess(this)" class="player-button"><img class="play_pause_img" src="{{ user.theme_all.pause_img.url }}" alt=""></button>
								<input id="timeline_{{ m.id }}" onchange ="changeSeek_mess(this)" type="range" class="timeline" max="100" value="0">
							</div>
						</div>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% else %}
				<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
					<div class="other_msgs ">
						<div class="audio-player">
							<h4 class="name_mus">{{ m }}</h4>
							<audio class="audio_ap" id="audio_{{ m.id }}" src="{% url 'stream_mess' m.id %}"></audio>
							<div class="controls">
								<button value="{{ m.id }}" onclick="toggleAudio_mess(this)" class="player-button"><img class="play_pause_img" src="{{ user.theme_all.pause_img.url }}" alt=""></button>
								<input id="timeline_{{ m.id }}" onchange ="changeSeek_mess(this)" type="range" class="timeline" max="100" value="0">
							</div>
						</div>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% endif %}
		{% else %}
			{% if m.user == user %}
				<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
					<div class="my_msgs my_file_mes">
						<{{ m.type_file }} class="my_file_mes" src="{% url 'stream_mess' m.id %}" onclick="file_see(this)"></{{ m.type_file }}>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% else %}
				<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
					<div class="other_msgs other_file_mes">
						<{{ m.type_file }} class="other_file_mes" src="{% url 'stream_mess' m.id %}" onclick="file_see(this)"></{{ m.type_file }}>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% endif %}
		{% endif %}				
	{% elif m.type_m.type_m == 'share' %}
		{% with m_list=m.text|split_mess:"#@;" %}
			{% if m.type_file.type_f == "audio" %}
				{% if m.user == user %}
					<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
						<div class="my_msgs">
							<a href="{{ m_list.0 }}">
								<img class="my_file_mes" src="{{ user.theme_all.music_img.url }}">
							</a>
							<p>{{ m_list.1 }}</p>
							<time class='time'>{{ m.date|date:"h:m" }}</time>
						</div>
					</div>
				{% else %}
					<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
						<div class="other_msgs">
							<a href="{{ m_list.0 }}">
								<img class="other_file_mes" src="{{ user.theme_all.music_img.url }}">
							</a>
							<p>{{ m_list.1 }}</p>
							<time class='time'>{{ m.date|date:"h:m" }}</time>
						</div>
					</div>
				{% endif %}
			{% else %}
				{% if m.user == user %}
					<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
						<div class="my_msgs my_file_mes">
							<a href="{{ m_list.0 }}">
								<{{ m.type_file }} class="my_file_mes" src="{{ m.file.url }}"></{{ m.type_file }}>
							</a>
							<p>{{ m_list.1 }}</p>
							<time class='time'>{{ m.date|date:"h:m" }}</time>
						</div>
					</div>
				{% else %}
					<div id={{ m.id }} ontouchstart="reply_check(this)" onmousedown="reply_check(this)" onclick="emoji(this,'{{ m.id }}')">
						<div class="other_msgs other_file_mes">
							<a href="{{ m_list.0 }}">
								<{{ m.type_file }} class="other_file_mes" src="{{ m.file.url }}"></{{ m.type_file }}>
							</a>
							<p>{{ m_list.1 }}</p>
							<time class='time'>{{ m.date|date:"h:m" }}</time>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endwith %}
	{% endif %}
	{% if m.emoji %}
		{% if m.user == user %}
			<div class="emoji_my">
				{% for i in m.emoji.all %}
					<span class="emoji_msg" id="emoji_{{ i.user }}">{{ i.emoji }}</span>
				{% endfor %}
			</div>

		{% else %}
			<div class="emoji_other">
				{% for i in m.emoji.all %}
					<span class="emoji_msg" id="emoji_{{ i.user }}">{{ i.emoji }}</span>
				{% endfor %}
			</div>

		{% endif %}

	{% endif %}
{% endfor %}