{% load static %}
{% for m in mess %}
	{% if m.type_m.type_m == 'msg' %}
		{% if m.user == user %}
			<div>
				<div class="my_msgs">
					<p class="mes">{{ m }}</p>
					<time class='time'>{{ m.date|date:"h:m" }}</time>
				</div>
			</div>
		{% else %}
			<div>
				<div class="other_msgs">
					<p class="mes">{{ m }}</p>
					<time class='time'>{{ m.date|date:"h:m" }}</time>
				</div>
			</div>
		{% endif %}
	{% elif m.type_m.type_m == 'new_theme' %}
		<div>
			<div class="new_theme">
				<p class="mes">{{ m }}</p>
			</div>
		</div>
	{% elif m.type_m.type_m == 'file' %}
		{% if m.type_file.type_f == "audio" %}
		    {% if m.user == user %}
				<div>
					<div class="my_msgs file_mes">
						<div class="audio-player">
							<h4 class="name_mus">{{ m }}</h4>
							<audio class="audio_ap" id="audio_{{ m.id }}" src="{% url 'stream_mess' m.id %}"></audio>
							<div class="controls">
								<button value="{{ m.id }}" onclick="toggleAudio_mess(this)" class="player-button"><img class="play_pause_img" src="{% static 'home/images/pause.png' %}" alt=""></button>
								<input id="timeline_{{ m.id }}" onchange ="changeSeek_mess(this)" type="range" class="timeline" max="100" value="0">
							</div>
						</div>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% else %}
				<div>
					<div class="other_msgs file_mes">
						<div class="audio-player">
							<h4 class="name_mus">{{ m }}</h4>
							<audio class="audio_ap" id="audio_{{ m.id }}" src="{% url 'stream_mess' m.id %}"></audio>
							<div class="controls">
								<button value="{{ m.id }}" onclick="toggleAudio_mess(this)" class="player-button"><img class="play_pause_img" src="{% static 'home/images/pause.png' %}" alt=""></button>
								<input id="timeline_{{ m.id }}" onchange ="changeSeek_mess(this)" type="range" class="timeline" max="100" value="0">
							</div>
						</div>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% endif %}
		{% else %}
			{% if m.user == user %}
				<div>
					<div class="my_msgs file_mes">
						<{{ m.type_file }} class="file_mes" src="{% url 'stream_mess' m.id %}" onclick="file_see(this)"></{{ m.type_file }}>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% else %}
				<div>
					<div class="other_msgs file_mes">
						<{{ m.type_file }} class="file_mes" src="{% url 'stream_mess' m.id %}" onclick="file_see(this)"></{{ m.type_file }}>
						<p class="mes">{{ m }}</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% endif %}
		{% endif %}				
	{% elif m.type_m.type_m == 'share' %}
		{% if m.type_file.type_f == "audio" %}
			{% if m.user == user %}
				<div>
					<div class="my_msgs">
						<a href="{{ m.text }}">
							<img class="file_mes" src="{{ user.theme_all.music_img.url }}">
						</a>
						<p>share</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% else %}
				<div>
					<div class="other_msgs">
						<a href="{{ m.text }}">
							<img class="file_mes" src="{{ user.theme_all.music_img.url }}">
						</a>
						<p>share</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% endif %}
		{% else %}
			{% if m.user == user %}
					<div>
						<div class="my_msgs">
							<a href="{{ m.text }}">
								<{{ m.type_file }} class="img_file_mes" src="{{ m.file.url }}"></{{ m.type_file }}>
							</a>
							<p>share</p>
							<time class='time'>{{ m.date|date:"h:m" }}</time>
						</div>
					</div>
			{% else %}
				<div>
					<div class="other_msgs">
						<a href="{{ m.text }}">
							<{{ m.type_file }} class="img_file_mes" src="{{ m.file.url }}"></{{ m.type_file }}>
						</a>
						<p>share</p>
						<time class='time'>{{ m.date|date:"h:m" }}</time>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}