{% for p in playlists.all %}
	<div class="playlist">
		<img class="img_ps" src="{{ p.img }}">
		<div>
			<a class="link_name_ps" href="{% url 'playlists' p %} "><h3>{{ p }}</h3></a>
			<h4><a class="ps_link_user" href="{% url 'user' p.autor %}">{{ p.autor }}</a></h4>
		</div>
		<time class="time_ps">{{ p.date }}</time>
		<a href='{% url "change_playlist" p %}'> Change </a>
		<img onclick="play_in_all(this,{{p.id}},'playlist')" class="play_in_all_ps" src="{{ user.theme_all.play_in_all_img.url }}">
	</div>
{% endfor %}
