{% load static %}
{% for p in posts.all %}
	<div class="post post_{{ p.id }}">
		<div class="header_post">
			<a class="header_post_user" href="{% url 'user' p.user_pub.username %}">
				<img class="img_user_post" src="{{ p.user_pub.img.url }}" alt="">
				<h4 class="name_user_post">{{ p.user_pub }}</h4>
			</a>
			<img id="{{ p.id }}" onclick="options(this)" class="options_post_img" src="{% static 'home/images/options.png' %}" alt="">

			<div class="options_menu" id='opt_{{ p.id }}'>
				<button value="{% url 'post' p.id %}" onclick="copy_link(this)" class="link_options_menu" href="">Скопіювати</button>

				<button onclick="spread('{{ p.id }}')" class="link_options_menu">Поширити</button>

				<a class="link_options_menu_red" href="">Поскаржитись</a>
			</div>
		</div>
		{% if p.type_p.type_p == 'video' %}
			<video autoplay class="video_post post_file" controls controlsList="nodownload" controls prelad="auto">
				<source src="{% url 'stream_post' p.id %}">
			</video>
		{% elif p.type_p.type_p == 'img' %}
			<img class="post_file" src="{{ p.file.url }}">
		{% elif p.type_p.type_p == 'audio' %}
			<div class="audio-player">
				<h4 class="name_mus">audio</h4>
				<audio class="audio_ap" id="audio_{{ p.id }}" src="{% url 'stream_post' p.id %}"></audio>
				<div class="controls">
					<button value="{{ p.id }}" onclick="toggleAudio(this)" class="player-button"><img class="play_pause_img" src="{% static 'home/images/pause.png' %}" alt=""></button>
					<input id="timeline_{{ p.id }}" onchange ="changeSeek(this)" type="range" class="timeline" max="100" value="0">
				</div>
			</div>
		{% endif %}
		<div class="menu_post">
			<img id={{ p.id }} onclick="like(this)" src="{{ user.theme_all.like_img.url }}" alt="">
			<span>{{ p.likes.all|length }}</span>
			
			<img id={{ p.id }} onclick="comments(this)" src="{{ user.theme_all.comment_img.url }}" alt="">

			<span>{{ p.comments.all|length }}</span>
		</div>
		<p class="post_desc">{{ p.description }}</p>
		<time>{{ p.date }}</time>

		<div class="comments"></div>
	</div>
	<div class="line"></div>
{% endfor %}

