{% load static %}
{% for u in users %}
	{% if u != user %}
		<div class="user">
			<div class="img_name">
				<img class="img_f" src={{ u.img.url }}>
				<h4> {{ u.username }}</h4>
			</div>
			{% if u not in user.friends.all %}
				<div class="friend_follow">
					{% if not u in user.follow.all %}
					    <button id="{{ u.id }}" value="{{ u.id }}" onclick="follow(this)" class="btn_follow" >Follow</button>
					{% else %}
						<p id="{{ u.id }}" class="follow">follow</p>
					{% endif %}

					<button class="btn_friend_add" value="{{ u.id }}" onclick="want_add_friend(this)">Add friend</button>
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endfor %}

