{% load users %}

{% if type == "friends" or type == "all" or type == "followers"%}
	{% for u in users %}
		{% if u != user %}
			<div class="user">
				<a href="{% url 'user' u %}" class="img_name">
					<img class="img_f" src={{ u.img.url }}>
					<h4> {{ u.username }}</h4>
				</a>
				{% if u not in user.friends.all %}
					<div class="friend_follow">
						{% if not u in user.follow.all %}
						    <button id="{{ u.id }}" value="{{ u.id }}" onclick="follow(this,'{{ u }}')" class="btn_follow" >Follow</button>
						{% else %}
							<p id="{{ u.id }}" class="follow">follow</p>
						{% endif %}

						<button class="btn_friend_add" value="{{ u.id }}" onclick="want_add_friend(this,'{{ u }}')">Add friend</button>
					</div>
				{% endif %}

				{% if type == 'friends' %}
					<button onclick="del_friend(this, {{ u.id }})" class="del_friend_btn">Delete friend</button>
				{% endif %}

			</div>
		{% endif %}
	{% endfor %}

{% elif type == "friends_and_want" %}
    {% with friend_want_add=user.friend_want_add.all %}
		{% for u in users %}
			{% define "continue" True %}
			{% if u in friend_want_add %}
				<div class="u_f">
					<div class="img_name">
						<img class="img_f" src={{ u.img.url }}>
						<h4> {{ u.username }}</h4>
					</div>
					<button class="btn_friend_add" value={{ u.id }} onclick="no_add_friend(this)">Do not add</button>
					<button class="btn_friend_add" value={{ u.id }} onclick="add_friend(this)">Add</button>
				</div>
				{% define "continue" False %}
			{% endif %}

			{% if continue %}
				{% if user.chats.all|filter_ch:u %}
					<div class="u_f">
						<div class="img_name">
							<img class="img_f" src={{ u.img.url }}>
							<h4> {{ u.username }}</h4>
						</div>
						<button class="write_btn" value="{{ u.id }}" onclick="add_chat(this)"> Add chat</button>
					</div>
					{% define "continue" False %}
				{% endif %}

			{% endif %}

			{% if continue %}
				<a href="{% url 'user' u.username %}" class="u_f">
					<div class="img_name">
						<img class="img_f" src={{ u.img.url }}>
						<h4> {{ u.username }}</h4>
					</div>
				</a>
			{% endif %}
		{% endfor %}
	{% endwith %}
{% endif %}
