*{
	margin: 0;
	padding: 0;
}

html, body{
	overflow-x: hidden;
}

.back_header{
	display: flex;
	position: fixed;
	z-index: 3;
	width: 100%;
	top: 0;
	justify-content: space-between;
	height: 2em;
	padding: 5px;
	margin-bottom: 2%;
}

.back_img{
	height: 100%;
}

main{
	margin-top: 15%;
}