{% extends "home/shablons/passreset.html" %}

{% block content %}
    <h2 class="h2_header">Password Reset Confirm</h2>
	<hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="Password">
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirm password">
        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>

{% endblock content %}

