{% extends "home/shablons/passreset.html" %}

{% block content %}
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="title">Password Reset Confirm</div>
        <p class="p_white">Please enter your new password.</p>

        <span class="error">{{ form.errors }}</span>

        <div class="input-container ic1">
            <input class="input" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder=" ">
            <div class="cut"></div>
            <label for="id_new_password1" class="placeholder">Password</label>
        </div>
        <div class="input-container ic2">
            <input class="input" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder=" ">
            <div class="cut big_cut"></div>
            <label for="id_new_password2" class="placeholder">Confirm password</label>
        </div>

        <button type="submit" class="submit">Reset password</button>
    </form>

{% endblock content %}

