{% extends 'home/shablons/base.html' %}
{% load static %}
{% block title %}Chats{% endblock title %}

{% block content_header %}
	<link rel="stylesheet" href="{% static 'ai/css/ai.css' %}">
{% endblock content_header %}

{% block content %}
	<form class="form_send_recognize" method='post' enctype="multipart/form-data">
		{% csrf_token %}
		<input onchange="img_set(this)" id='id_img' name="img" type="file">
		<label for="id_img">
			<img src="{% static 'home/images/default.png' %}" id="img_recognize">
		</label>
		<div class='info_recognize'>
			<h2 onclick="send_img_recognize(this)" id="recognize_h2">Recognize</h2>
			<p id="p_confidence">Сonfidence</p>
		</div>
		<span>{{ error }}</span>
	</form>
{% endblock content %}

{% block end_scripts %}
	<script src="{% static 'ai/js/ai.js' %}"></script>
	<script>
		let form_recognize_ajax = '{% url "form_recognize_ajax" %}'
	</script>
{% endblock end_scripts %}